* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
}

body {
  background-color: #f3ebed;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 15;
  background-color: rgb(236, 175, 175);
  text-align: center;
  position: sticky;
  top: 0%;
}

h1 {
  color: black;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  font-weight: 370;
}

header nav ul li {
  display: inline-block;
  margin: 2vh 2vw;
}

header nav ul li a {
  text-decoration: none;
  color: bisque;
}

nav a:hover {
  background-color: lightpink;
  cursor: pointer;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

h2 {
  text-align: center;
  font-weight: bold;
}

section {
  margin: 60px auto;
  max-width: 900px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

hr {
  border: none;
  border-top: 3px solid #000;
  width: 60%;
  margin: 20px auto;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 50%;
  max-width: 525px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

th {
  background-color: rgb(223, 163, 163);
  color: white;
  padding: 12px 15px;
}

td {
  font-weight: bold;
}

article h2 {
  text-align: center;
  font-weight: bold;
}

article h3 {
  text-align: center;
  font-weight: lighter;
}

article p {
  text-align: center;
  font-weight: 500;
}

article {
  font-family: "Noto Sans", sans-serif;
  margin: 1vh 2vw;
}

article:hover {
  border: 6px solid rgb(225, 157, 157);
  padding: 2vh 2vw;
  background-color: rgb(241, 209, 214);
  cursor: pointer;
}

#contact {
  text-align: center;
}

#contact table {
  border: 10px solid rgb(220, 158, 158);
  margin: 5vh auto;
}

#contact td {
  border: 2px solid rgb(210, 152, 152);
  font-size: 20px;
}

#contact td > input,
textarea {
  font-size: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(220, 232, 245);
}

#contact td > input[type="submit"] {
  background-color: rgb(208, 112, 112);
  color: white;
  cursor: pointer;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #eb9393;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#topBtn:hover {
  background-color: #f39da2;
}
